@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');

*{
    font-family: "Sedan", serif;
   
}
body{
  background-image: linear-gradient(90deg, white 0%, white 100%);
}
.fa-sharp{
    font-size: 12px;
}